.video-card {
  width: 250px;
  margin-bottom: 2em;

  &__thumbnail {
    height: 140px;
    width: 250px;
  }

  &__info {
    display: flex;
    padding-right: 1.5em;
    margin-top: .75em;
  }

  &__avatar {
    height: 30px;
    width: 30px;
  }

  &__text {
    margin-left: .75em;

    h4 {
      font-size: .875rem;
      margin-bottom: .25em;
      font-weight: 500;
      line-height: 1.3;
      width: 200px;
      min-height: 20px;
      max-height: 40px;
      white-space: wrap;
      overflow: hidden;
      text-overflow: ellipsis !important;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }

    p {
      font-size: .875rem;
      color: rgb(96, 96, 96);
    }
  }

  &__channel-verification-icon {
    width: 16px !important;
    color: rgb(96, 96, 96);
  }

  &__channel-name {
    min-width: 30px;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis !important;
    white-space: nowrap;
  }
}