.channel-row {
  display: flex;
  align-items: center;
  width: 70%;

  &__logo {
    height: 120px !important;
    width: 120px !important;
    margin: 10px 60px;
  }

  &__text {
    display: flex;
    flex-direction: column;

    & :nth-child(1) {
      display: flex;
      align-items: center;
    }
    & :nth-child(2) {

    }
    & :nth-child(3) {

    }
  }
}