.recommended-videos {
  background: #f9f9f9;
  flex: 0.8;
  min-height: 91vh;
  padding: 2em 1em;
  padding-bottom: 0;
  h2 {
    margin-left: .375em;
    margin-bottom: .75em;
  }
  &__videos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}